<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Collection</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
  <ul>
    <% results.forEach(book => { %>
      <form action="/book" method="post">
        <input type="text" name="title" value="<%= book.title %>">
      <li class="lititle"><%= book.title %></li>
        <input type="text" name="authors" value="<%= book.authors %>">
      <li class="liauthor"><%= book.authors %></li>
      <li class="lidescription"><%= book.description %></li>
        <input type="text" name="description" value="<%= book.description %>">
      <img src='<%= book.bookImage %>' alt='<%= book.title %>'></img>
      <button>Add to Database</button>
    </form>
    <% }) %>
    <!--  -->
  </ul>
</body>
</html>